body{
    background-image:url(https://static.giantbomb.com/uploads/original/12/129913/2335115-2012_09_18_00001.jpg);
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 20px;
    background-color:#FFA500;  
    background-size:100%; 
    }
h1{
    color:#B22222;
    text-align:center;
    margin-left:auto;
    margin-right:auto; 
    }
h2{
    color:#B22222;
    text-align:center;
    margin-left:auto;
    margin-right:auto;    
    }
p{
    color:#B22222;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    }
ul{
    color:#B22222;
    margin-left:auto;
    margin-right:auto; 
   }
#banner{
    width: 500px;
    margin: auto;
    border:black 2px dashed;
    text-align: center;
    background-image:http://cdn.akamai.steamstatic.com/steam/apps/49520/header.jpg?t=1490021513; 
    } 
#nav{
    white-space: nowrap;
    text-align: center;
    }
#nav a{
    font-family: Gill Sans Extrabold, sans-serif;
    font-weight: bold;
    color: #B22222;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px;
    }
#nav a:hover{
    color:black;
    border-bottom:5px dotted black;
    }
#main{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color:black;
    opacity:0.7;   
    }
#main2{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color:black;
    opacity:0.7;   
    }
#footer{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Gill Sans Extrabold, sans-serif;
    color: #B22222;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 10px;   
    }
.imgleft{
    float: left;
    margin-right: 15;
    }
.imaright{
    float: right;
    margin-left: 15;
    }
.quicklinks {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    }